Vincent Nguyen
/* September 2018 */
/* five.css */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    color: rgb(255, 255, 255);
}

.top,
.blue,
.red,
.green,
.yellow,
.grey {
    height: 100vh;
    text-align: center;
}

.bg {
    transition: 0.25s;
}

.bg:hover {
    filter: brightness(110%);
}

.fa-chevron-up,
.fa-chevron-down {
    bottom: 0;
    height: 7vh;
    color: white;
    font-size: 7vmin;
}

.fa-chevron-up {
    margin: 3vh 0 3vh 0;
}

.fa-chevron-down {
    margin: 3vh 0 0 0;
}

.fa-chevron-up:hover,
.fa-chevron-down:hover {
    opacity: 0.75;
    transition: 0.25s;
}

.fs-0 {
    font-size: 0;
}

.col {
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.35);
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.image-container>* {
    display: block;
    margin: 0 auto;
}

.image-container > a {
    max-width: 200px;
}

.navLink {
    height: 20vh;
}

.navLink * {
    outline: none;
}

.navLink *:hover,
.navLink *:focus {
    filter: brightness(110%);
}

.divLink {
    height: 100%;
    background-size: cover;
    border-right: 1vmin solid rgb(65, 65, 65);
    transition: .2s;
}

.divLink:hover {
    cursor: pointer;
    transition: 0.25s;
}

.divLink:focus {
    border: inset 1vmin;
    outline: none;
}

.navLink button {
    outline: none;
}

.blue,
.blueLink {
    background-color: rgba(33, 149, 243, 0.5);
}

.blueLink {
    background-image: url("../img/text/blue-t.png");
}

.blueLink:hover {
    border-right: 1vmin solid rgb(84, 174, 247);
}

.red,
.redLink {
    background-color: rgba(244, 67, 54, 0.5);
}

.redLink {
    background-image: url("../img/text/red-t.png");
}

.redLink:hover {
    border-right: 1vmin solid rgb(202, 89, 81);
}

.green,
.greenLink {
    background-color: rgba(76, 175, 79, 0.5);
}

.greenLink {
    background-image: url("../img/text/green-t.png");
}

.greenLink:hover {
    border-right: 1vmin solid rgb(151, 212, 153);
}

.yellow,
.yellowLink {
    background-color: rgba(255, 235, 59, 0.5);
}

.yellowLink {
    background-image: url("../img/text/yellow-t.png");
}

.yellowLink:hover {
    border-right: 1vmin solid rgb(255, 246, 163);
}

.grey,
.greyLink {
    background-color: rgba(158, 158, 158, 0.5);
}

.greyLink {
    background-image: url("../img/text/grey-t.png");
}

.greyLink:hover {
    border-right: 1vmin solid rgb(204, 204, 204);
}

.bg-blue {
    background-color: #2196F3;
}

.bg-red {
    background-color: #F44336;
}

.bg-green {
    background-color: #4CAF50;
}

.bg-yellow {
    background-color: #FFEB3B;
}

.letter {
    position: relative;
    top: 40vmin;
    font-size: 20vmin;
    font-weight: bold;
}

.image {
    height: 70vh;
    border: solid 5px rgba(0, 0, 0, 0.15);
    transition: 0.25s;
}

.image:hover {
    border: solid 5px rgba(116, 116, 116, 0.15);
}

@media only screen and (max-width: 1000px) {
    .col {
        display: grid;
        float: initial;
        width: 100%;
        height: 20%;
    }

    .bg-blue,
    .bg-green,
    .bg-red,
    .bg-yellow {
        display: none;
    }

    .divLink {
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.15);
    }

    .divLink::after {
        font-size: 64px;
        margin-left: 250px;
        font-size: 20vmin;
        font-weight: bold;
    }

    .blueLink {
        background-color: #2196F3;
    }

    .blueLink::after {
        content: "f";
    }

    .redLink {
        background-color: #F44336;
    }

    .redLink::after {
        content: "i";
    }

    .greenLink {
        background-color: #4CAF50;
    }

    .greenLink::after {
        content: "v";
    }

    .yellowLink {
        background-color: #FFEB3B;
    }

    .yellowLink::after {
        content: "e";
    }

    .greyLink {
        background-color: rgba(158, 158, 158);
    }

    .greyLink::after {
        content: ".";
    }
}

@media only screen and (min-width: 850px) and (max-width: 900px) {
    .image {
        height: 60vh;
    }

    .fa-chevron-up {
        margin: 4vh 0 5vh 0;
    }

    .fa-chevron-down {
        margin: 5vh 0 0 0;
    }
}

@media only screen and (min-width: 750px) and (max-width: 850px) {
    .image {
        height: 55vh;
    }

    .fa-chevron-up {
        margin: 5vh 0 5vh 0;
    }

    .fa-chevron-down {
        margin: 5vh 0 5vh 0;
    }
}

@media only screen and (min-width: 650px) and (max-width: 750px) {
    .image {
        height: 45vh;
    }

    .fa-chevron-up {
        margin: 10vh 0 3vh 0;
    }

    .fa-chevron-down {
        margin: 4vh 0 10vh 0;
    }
}

@media only screen and (min-width: 550px) and (max-width: 650px) {
    .image {
        height: 40vh;
    }

    .fa-chevron-up {
        margin: 15vh 0 0 0;
    }

    .fa-chevron-down {
        margin: 1vh 0 15vh 0;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) {
    .image {
        height: 30vh;
    }

    .fa-chevron-up {
        margin: 20vh 0 0 0;
    }

    .fa-chevron-down {
        margin: 2vh 0 20vh 0;
    }
}

@media only screen and (max-width: 450px) {
    .image {
        height: 20vh;
    }

    .fa-chevron-up {
        margin: 30vh 0 0 0;
    }

    .fa-chevron-down {
        margin: 3vh 0 25vh 0;
    }
}